header {
    display: flex; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    align-items: center; 
    border-bottom-width: 1px;
}

.nav-container {
    display: flex; 
    align-items: center;
    font-weight: 500;
}

a:hover {
    color: #F2FF00;
}

nav ul {
    display: flex; 
    gap: 2.5rem; 
    align-content: space-evenly; 
}

.slider {
    position: relative;
    max-width: 500px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slides img {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.advisory-board-title h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
}

.advisory-board-cards {
    /* width: 85%; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 20px auto;
    flex-direction: row;
}

.advisory-board-card {
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0px 20px;
    padding: 20px;
    text-align: center;
}

.advisory-board-image img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 10px;
}

.advisory-board-detail h3 {
    font-size: 30px;
    margin: 15px 0px;
}

.advisory-board-detail p {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .advisory-board-cards {
        display: flex;
        flex-direction: row;

    }

    .advisory-board-card {
        width: 85%;
        margin: 25px auto;
    }
}